@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 26em) {
  body {
    width: fit-content;
  }
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.container-max {
  margin: 0 auto;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #da291c;
}

::selection {
  color: #fff;
  background: #da291c;
}

textarea:focus,
input:focus {
  outline: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
}

.button {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  background-color: green;
  width: 15rem;
  padding: 1rem;
  border-radius: 2px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 240px;
  margin-top: 3rem;
}
@media only screen and (max-width: 26em) {
  .container2 {
    width: auto;
    display: block;
  }
}
@media only screen and (max-width: 24em) {
  .container2 {
    width: auto;
    display: block;
  }
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 260px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
}
@media only screen and (max-width: 26em) {
  .btn {
    font-size: 2.5rem;
    max-width: none;
    padding: 1.5rem;
    line-height: 60px;
  }
}
@media only screen and (max-width: 24em) {
  .btn {
    font-size: 2.5rem;
    max-width: none;
    padding: 1.5rem;
    line-height: 60px;
  }
}

.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #fff;
  outline: solid 2px #fff;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover {
  background-color: #333;
}

/* HOVERしたら文字1を上に */
.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

/*文字2*/
.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

.btn2 {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 260px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
}
@media only screen and (max-width: 26em) {
  .btn2 {
    font-size: 2.5rem;
    max-width: none;
    padding: 1.5rem;
    line-height: 60px;
  }
}
@media only screen and (max-width: 24em) {
  .btn2 {
    font-size: 2.5rem;
    max-width: none;
    padding: 1.5rem;
    line-height: 60px;
  }
}

.btn2:hover {
  text-decoration: none;
}

/*btn_background*/
.effect05 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #333;
  outline: solid 2px #333;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect05::before,
.effect05 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

/* 文字1を上に */
.effect05:hover {
  background-color: #fff;
}

/* HOVERしたら文字1を上に */
.effect05:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

/*文字2*/
.effect05::before {
  content: attr(data-sm-link-text);
  color: #333;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

/* HOVERしたら文字2を上に */
.effect05:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

.container {
  position: relative;
}
.container .infos {
  display: flex;
  padding-top: 7rem;
}
@media only screen and (max-width: 26em) {
  .container .infos {
    flex-direction: column;
    line-height: 1.75;
  }
}
@media only screen and (max-width: 24em) {
  .container .infos {
    flex-direction: column;
    line-height: 1.75;
  }
}
.container .infos .left {
  flex: 40%;
  text-align: center;
}
.container .infos .left img {
  border-radius: 50%;
  width: 25rem;
}
@media only screen and (max-width: 26em) {
  .container .infos .left img {
    width: 50rem;
  }
}
@media only screen and (max-width: 24em) {
  .container .infos .left img {
    width: 40rem;
  }
}
.container .infos .left h2 {
  font-size: 3.5rem;
  font-weight: 300;
}
@media only screen and (max-width: 26em) {
  .container .infos .left h2 {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 24em) {
  .container .infos .left h2 {
    font-size: 6.5rem;
  }
}
.container .infos .left p {
  font-size: 1.8rem;
}
@media only screen and (max-width: 26em) {
  .container .infos .left p {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 24em) {
  .container .infos .left p {
    font-size: 3.5rem;
  }
}
.container .infos .left .links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.container .infos .left .links .blue {
  background-color: #3b5998;
}
.container .infos .left .links .dark {
  background-color: #333;
}
.container .infos .left .links .blue-azure {
  background-color: #0e76a8;
}
.container .infos .left .links .yellow {
  background-color: #004f9f;
}
.container .infos .left .links a {
  padding: 0.3rem;
  background: #ffc72c;
  color: #fff;
  width: 4rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 3px;
  margin-right: 1rem;
}
@media only screen and (max-width: 26em) {
  .container .infos .left .links a {
    width: 10rem;
    padding: 1.5rem;
    font-size: 4rem;
  }
}
@media only screen and (max-width: 24em) {
  .container .infos .left .links a {
    width: 10rem;
    padding: 1.5rem;
    font-size: 4rem;
  }
}
.container .infos .right {
  flex: 60%;
  margin-top: 5rem;
}
@media only screen and (max-width: 26em) {
  .container .infos .right {
    text-align: left;
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 24em) {
  .container .infos .right {
    text-align: left;
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 26em) {
  .container-max {
    line-height: 1.75;
  }
}

@media only screen and (max-width: 24em) {
  .container-max {
    line-height: 1.75;
  }
}

.container-max .projects {
  margin-top: 5rem;
}
.container-max .projects .left-sided {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  padding-top: 20rem;
  padding-bottom: 20rem;
  padding-right: 7rem;
  padding-left: 7rem;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .left-sided {
    flex-direction: column;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .left-sided {
    flex-direction: column;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}
.container-max .projects .left-sided .img {
  flex: 40%;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .left-sided .img {
    text-align: center;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .left-sided .img {
    text-align: center;
  }
}
.container-max .projects .left-sided img {
  width: 60rem;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .left-sided img {
    width: 85rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .left-sided img {
    width: 80rem;
  }
}
.container-max .projects .left-sided .infos {
  flex: 60%;
  display: flex;
  flex-direction: column;
}
.container-max .projects .left-sided .infos h3 {
  margin-top: 1rem;
  font-weight: 400;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .left-sided .infos h3 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .left-sided .infos h3 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
.container-max .projects .left-sided .infos h2 {
  font-weight: 400;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .left-sided .infos h2 {
    text-align: center;
    font-size: 6.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .left-sided .infos h2 {
    text-align: center;
    font-size: 6.5rem;
    margin-bottom: 2rem;
  }
}
.container-max .projects .left-sided .infos p {
  font-weight: 300;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .left-sided .infos p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .left-sided .infos p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
.container-max .projects .right-sided {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  padding-top: 20rem;
  padding-bottom: 20rem;
  padding-right: 7rem;
  padding-left: 7rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .right-sided {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .right-sided {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    flex-direction: column-reverse;
  }
}
.container-max .projects .right-sided .img {
  flex: 40%;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .right-sided .img {
    text-align: center;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .right-sided .img {
    text-align: center;
  }
}
.container-max .projects .right-sided img {
  width: 60rem;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .right-sided img {
    width: 85rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .right-sided img {
    width: 80rem;
  }
}
.container-max .projects .right-sided .infos {
  flex: 60%;
  display: flex;
  flex-direction: column;
}
.container-max .projects .right-sided .infos h3 {
  margin-top: 1rem;
  font-weight: 400;
  color: #333;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .right-sided .infos h3 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .right-sided .infos h3 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
.container-max .projects .right-sided .infos h2 {
  font-weight: 400;
  color: #333;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .right-sided .infos h2 {
    text-align: center;
    font-size: 6.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .right-sided .infos h2 {
    text-align: center;
    font-size: 6.5rem;
    margin-bottom: 2rem;
  }
}
.container-max .projects .right-sided .infos p {
  font-weight: 300;
  color: #333;
}
@media only screen and (max-width: 26em) {
  .container-max .projects .right-sided .infos p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 24em) {
  .container-max .projects .right-sided .infos p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}

.mini {
  width: 4rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #333;
}
footer .container {
  text-align: center;
}
footer .container h3 {
  font-weight: 300;
  color: #fff;
}
@media only screen and (max-width: 26em) {
  footer .container h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 24em) {
  footer .container h3 {
    font-size: 3rem;
  }
}

.languages {
  position: absolute;
  right: 0;
  top: 5rem;
}
@media only screen and (max-width: 26em) {
  .languages {
    right: 5rem;
  }
}
.languages a {
  text-decoration: none;
  color: #333;
}
@media only screen and (max-width: 26em) {
  .languages a {
    font-size: 3.5rem;
  }
}
.languages span {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.languages button {
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 26em) {
  .languages button {
    font-size: 2.5rem;
  }
}
.languages .language-button {
  padding: 0.5rem 0.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.languages .active {
  font-weight: 600;
}
